<!DOCTYPE html>
<html>
<head>
  <title>{{title}} | {{site.title}}</title>

  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' />

  <meta name="description" content="{{meta_description}}" />
  <meta name="author" content="Boris Smus" />
  <link rel="canonical" href="{{site.domain}}{{permalink}}/" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{meta_description}}" />

  <!-- Facebook -->
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{site.domain}}{{permalink}}/" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{meta_description}}" />

  <!-- Mastodon -->
  <link rel="me" href="https://mastodon.social/@borismus">

  <!-- Coil monetization experiment: https://coil.com/settings/monetize -->
  <meta name="monetization" content="$ilp.uphold.com/4Fnyw8KLaPZG">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
  <link rel="manifest" href="/static/icons/site.webmanifest">

  <!-- Styles -->
  <link
  href='//fonts.googleapis.com/css?family=Roboto+Condensed:300|Open+Sans+Condensed:700|Source+Serif+Pro:400,700|Inconsolata' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/static/css/style.css'>
  <link rel='stylesheet' href='/static/css/syntax-highlight.css'>

  <!-- Feed -->
  <link href="https://smus.com/atom.xml" rel="alternate" title="Boris Smus" type="application/atom+xml"/>
</head>
<body>
<header>
  <div id='title'>
    <h1><a href='/'>Boris Smus</a></h1>
    <h2>interaction engineering</h2>
  </div>
  <nav role='navigation'>
    <a href='/about/' {% if slug == "about" %}class='active'{% endif %}>About</a>
    <a href='/blog/' {% if slug == "blog" %}class='active'{% endif %}>Blog</a>
    <a href='/projects/' {% if slug == "projects" %}class='active'{% endif %}>Projects</a>
  </nav>
</header>
{% block content %}{% endblock %}
<footer>
  <div>
    © Copyright 2005–2024 Boris Smus.
  </div>
  <nav role="footer">
    <a href='https://smus.com/atom.xml'>RSS</a>
    <a style="display: none" rel="me" href="https://mastodon.social/@borismus">Mastodon</a>
  </nav>
</footer>

<!-- Misc scripts: syntax highlighting, analytics, stats. -->
<script src="/static/js/highlight.pack.js"></script>
<!-- Syntax highlighting for code. -->
<script>
  hljs.tabReplace = '  ';
  hljs.initHighlightingOnLoad();
</script>
<!-- Lightning builder error check. -->
<script src="/lightning_error.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-38Y45XD5VQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-38Y45XD5VQ');
</script>


</body>
</html>
