{% extends "base.html" %}

{% block content %}
<section id='main'>
  <article>
    {% set display_title = yaml.headline or title %}
    <a href='{{ permalink }}'><h1 class='title'>{{ display_title }}</h1></a>
    {% if yaml.headline %}
    <div class='book-context'>On {{ title }} <span aria-hidden='true'>📚</span></div>
    {% endif %}
    {% if yaml.cover %}
    <img class="book-cover" loading="lazy" src="{{ yaml.cover }}" alt="{{ title }} cover"/>
    {% endif %}
    <div class='body'>
      {{content}}
    </div>
    <div class='subfooter'>
      <div class='tombstone'>▪</div>
      <time class='published'>{{ date_created.Format("%B %Y") }}</time>
    </div>
  </article>
</section>

{% endblock %}
