{% extends "base.html" %}

{% block content %}
<section id='main'>
{% for post in posts %}
<article class="type-{{ post.type_name }}">
  <a href='{{ post.permalink }}'><h1 class='title'>{{ post.title }}</h1></a>
  <div class='body'>
    {{post.snip}}
  </div>
  {% if post.is_long %}
  <a href="{{ post.permalink }}" class="readmore" title="Continue reading...">
    Continued &rarr;
  </a>
  {% endif %}
  {% if not post.is_long %}
    <div class='subfooter'>
      <div class='tombstone'>▪</div>
      <time class='published'>{{ post.date_created.Format() }}</time>
    </div>
  {% endif %}
</article>
{% endfor %}
</section>
{% endblock %}
