{% extends "base.html" %}

{% block content %}
<section id='main'>
{% for post in posts %}

{% if post.type_name != 'book' %}
<article class="type-{{ post.type_name }}">
  <a href='{{ post.permalink }}'><h1 class='title'>{{ post.title }}</h1></a>
  <div class='body'>
    {{post.snip}}
  </div>
  {% if post.is_long %}
  <a href="{{ post.permalink }}" class="readmore" title="Continue reading...">
    Continued &rarr;
  </a>
  {% endif %}
  {% if not post.is_long %}
    <div class='subfooter'>
      <div class='tombstone'>▪</div>
      <time class='published'>{{ post.date_created.Format() }}</time>
    </div>
  {% endif %}
</article>
{% endif %}

{% if post.type_name == 'book' and post.yaml.rating %}
<article class="type-book">
  <a href='{{ post.permalink }}'>
    {% if post.yaml.headline %}
    <h1 class='title'>{{ post.yaml.headline }}</h1>
    {% else %}
    <h1 class='title'>{{ post.title }} <span aria-hidden='true'>📚</span></h1>
    {% endif %}
  </a>
  {% if post.yaml.headline %}
  <div class='book-context'>On {{ post.title }} <span aria-hidden='true'>📚</span></div>
  {% endif %}
  {% if post.yaml.cover %}
  <a href='{{ post.permalink }}'>
    <img class="book-cover" loading="lazy" src="{{ post.yaml.cover }}"/>
  </a>
  {% endif %}
  <div class='subfooter'>
    <a href="{{ post.permalink }}" class="readmore">
      Notes &rarr;
    </a>
    <time class='published'>{{ post.date_created.Format() }}</time>
  </div>
</article>
{% endif %}


{% endfor %}
</section>
{% endblock %}
