<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>466710242</real>
		<key>sheetClusters</key>
		<dict>
			<key>bluetooth_scanner.py</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05278999</real>
				<key>lastModification</key>
				<real>531797802.05278999</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>466710242</real>
				<key>version</key>
				<dict>
					<key>legacy-466710242.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>trip_analyzer.py</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05279398</real>
				<key>lastModification</key>
				<real>531797802.05279398</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bluetooth_scanner.py</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>trip_analyzer.py</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
