<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>466710242</real>
		<key>sheetClusters</key>
		<dict>
			<key>turk_scraper.py</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05290002</real>
				<key>lastModification</key>
				<real>531797802.05290002</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>turkviz_scraper.py</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05290598</real>
				<key>lastModification</key>
				<real>531797802.05290598</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>turk_scraper.py</string>
		</array>
		<array>
			<string>turkviz_scraper.py</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
