<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>466710242</real>
		<key>sheetClusters</key>
		<dict>
			<key>base.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05265898</real>
				<key>lastModification</key>
				<real>531797802.05265898</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>controller.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05266201</real>
				<key>lastModification</key>
				<real>531797802.05266201</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>engine.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.052665</real>
				<key>lastModification</key>
				<real>531797802.052665</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>ga.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05266702</real>
				<key>lastModification</key>
				<real>531797802.05266702</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>image_loader.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05267</real>
				<key>lastModification</key>
				<real>531797802.05267</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>keyboard.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05267203</real>
				<key>lastModification</key>
				<real>531797802.05267203</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>object.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.052674</real>
				<key>lastModification</key>
				<real>531797802.052674</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>object_types.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05267602</real>
				<key>lastModification</key>
				<real>531797802.05267602</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>rect.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05267799</real>
				<key>lastModification</key>
				<real>531797802.05267799</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>size.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05268103</real>
				<key>lastModification</key>
				<real>531797802.05268103</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sound.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.052683</real>
				<key>lastModification</key>
				<real>531797802.052683</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>soundmanager2.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05268502</real>
				<key>lastModification</key>
				<real>531797802.05268502</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>spawn_point.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.052688</real>
				<key>lastModification</key>
				<real>531797802.052688</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>spawn_wave.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05269003</real>
				<key>lastModification</key>
				<real>531797802.05269003</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>timer.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.052692</real>
				<key>lastModification</key>
				<real>531797802.052692</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>vector2.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531797802.05269402</real>
				<key>lastModification</key>
				<real>531797802.05269402</real>
				<key>version</key>
				<dict>
					<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>base.js</string>
		</array>
		<array>
			<string>controller.js</string>
		</array>
		<array>
			<string>engine.js</string>
		</array>
		<array>
			<string>ga.js</string>
		</array>
		<array>
			<string>image_loader.js</string>
		</array>
		<array>
			<string>keyboard.js</string>
		</array>
		<array>
			<string>object.js</string>
		</array>
		<array>
			<string>object_types.js</string>
		</array>
		<array>
			<string>rect.js</string>
		</array>
		<array>
			<string>size.js</string>
		</array>
		<array>
			<string>sound.js</string>
		</array>
		<array>
			<string>soundmanager2.js</string>
		</array>
		<array>
			<string>spawn_point.js</string>
		</array>
		<array>
			<string>spawn_wave.js</string>
		</array>
		<array>
			<string>timer.js</string>
		</array>
		<array>
			<string>vector2.js</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>533e3a81f96786f5383c48b33e66072c9a2523631116153fb353d451d2970fa6</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
